/****** Object:  StoredProcedure [dbo].[CorrectM2]    Script Date: 09/15/2014 09:28:57 ******/
set ANSI_NULLS on
go
set QUOTED_IDENTIFIER on
go


--AS

begin

declare @tCorrect table (HReal varchar(10), Hsroy varchar(10))
update F
set F.FlatStr = F.Flat
from dbo.tUser F
where F.HouseId = 2


insert @tCorrect(HReal, Hsroy)
select '1', '6'
 union all select '2', '7'
 union all select '3', '8'
 union all select '4', '9'
 union all select '5', '9a'
 union all select '6', '1'
 union all select '7', '2'
 union all select '8', '3'
 union all select '9', '4'
 union all select '10', '4a'
 union all select '11', '5'
 union all select '12', '15'
 union all select '13', '16'
 union all select '14', '17'
 union all select '15', '18'
 union all select '16', '18a'
 union all select '17', '10'
 union all select '18', '11'
 union all select '19', '12'
 union all select '20', '13'
 union all select '21', '13a'
 union all select '22', '14'
 union all select '23', '24'
 union all select '24', '25'
 union all select '25', '26'
 union all select '26', '27'
 union all select '27', '27a'
 union all select '28', '19'
 union all select '29', '20'
 union all select '30', '21'
 union all select '31', '22'
 union all select '32', '22a'
 union all select '33', '23'
 union all select '34', '33'
 union all select '35', '34'
 union all select '36', '35'
 union all select '37', '36'
 union all select '38', '36a'
 union all select '39', '28'
 union all select '40', '29'
 union all select '41', '30'
 union all select '42', '31'
 union all select '43', '31a'
 union all select '44', '32'
 union all select '45', '42'
 union all select '46', '43'
 union all select '47', '44'
 union all select '48', '45'
 union all select '49', '45a'
 union all select '50', '37'
 union all select '51', '38'
 union all select '52', '39'
 union all select '53', '40'
 union all select '54', '40a'
 union all select '55', '41'
 union all select '56', '51'
 union all select '57', '52'
 union all select '58', '53'
 union all select '59', '54'
 union all select '60', '54a'
 union all select '61', '46'
 union all select '62', '47'
 union all select '63', '48'
 union all select '64', '49'
 union all select '65', '49a'
 union all select '66', '50'
 union all select '67', '60'
 union all select '68', '61'
 union all select '69', '62'
 union all select '70', '63'
 union all select '71', '63a'
 union all select '72', '55'
 union all select '73', '56'
 union all select '74', '57'
 union all select '75', '58'
 union all select '76', '58a'
 union all select '77', '59'
 union all select '78', '69'
 union all select '79', '70'
 union all select '80', '71'
 union all select '81', '72'
 union all select '82', '72a'
 union all select '83', '64'
 union all select '84', '65'
 union all select '85', '66'
 union all select '86', '67'
 union all select '87', '68'
 union all select '88', '78'
 union all select '89', '79'
 union all select '90', '80'
 union all select '91', '81'
 union all select '92', '73'
 union all select '93', '74'
 union all select '94', '75'
 union all select '95', '76'
 union all select '96', '77'
 union all select '97', '87'
 union all select '98', '88'
 union all select '99', '89'
 union all select '100', '90'
 union all select '101', '82'
 union all select '102', '83'
 union all select '103', '84'
 union all select '104', '85'
 union all select '105', '86'
 union all select '106', '96'
 union all select '107', '97'
 union all select '108', '98'
 union all select '109', '99'
 union all select '110', '91'
 union all select '111', '92'
 union all select '112', '93'
 union all select '113', '94'
 union all select '114', '95'
 union all select '115', '105'
 union all select '116', '106'
 union all select '117', '107'
 union all select '118', '108'
 union all select '119', '100'
 union all select '120', '101'
 union all select '121', '102'
 union all select '122', '103'
 union all select '123', '104'
 union all select '124', '114'
 union all select '125', '115'
 union all select '126', '116'
 union all select '127', '117'
 union all select '128', '109'
 union all select '129', '110'
 union all select '130', '111'
 union all select '131', '112'
 union all select '132', '113'
 union all select '133', '123'
 union all select '134', '124'
 union all select '135', '125'
 union all select '136', '126'
 union all select '137', '118'
 union all select '138', '119'
 union all select '139', '120'
 union all select '140', '121'
 union all select '141', '122'
 union all select '142', '132'
 union all select '143', '133'
 union all select '144', '134'
 union all select '145', '135'
 union all select '146', '127'
 union all select '147', '128'
 union all select '148', '129'
 union all select '149', '130'
 union all select '150', '131'
 union all select '151', '141'
 union all select '152', '142'
 union all select '153', '143'
 union all select '154', '144'
 union all select '155', '136'
 union all select '156', '137'
 union all select '157', '138'
 union all select '158', '139'
 union all select '159', '140'
 union all select '160', '150'
 union all select '161', '151'
 union all select '162', '152'
 union all select '163', '153'
 union all select '164', '145'
 union all select '165', '146'
 union all select '166', '147'
 union all select '167', '148'
 union all select '168', '149'
 union all select '169', '159'
 union all select '170', '160'
 union all select '171', '161'
 union all select '172', '162'
 union all select '173', '154'
 union all select '174', '155'
 union all select '175', '156'
 union all select '176', '157'
 union all select '177', '158'
 union all select '178', '168'
 union all select '179', '169'
 union all select '180', '170'
 union all select '181', '171'
 union all select '182', '163'
 union all select '183', '164'
 union all select '184', '165'
 union all select '185', '166'
 union all select '186', '167'
 union all select '187', '177'
 union all select '188', '178'
 union all select '189', '179'
 union all select '190', '180'
 union all select '191', '172'
 union all select '192', '173'
 union all select '193', '174'
 union all select '194', '175'
 union all select '195', '176'
 union all select '196', '186'
 union all select '197', '187'
 union all select '198', '188'
 union all select '199', '189'
 union all select '200', '181'
 union all select '201', '182'
 union all select '202', '183'
 union all select '203', '184'
 union all select '204', '185'
 union all select '205', '195'
 union all select '206', '196'
 union all select '207', '197'
 union all select '208', '198'
 union all select '209', '190'
 union all select '210', '191'
 union all select '211', '192'
 union all select '212', '193'
 union all select '213', '194'
 union all select '214', '204'
 union all select '215', '205'
 union all select '216', '206'
 union all select '217', '207'
 union all select '218', '199'
 union all select '219', '200'
 union all select '220', '201'
 union all select '221', '202'
 union all select '222', '203'
 union all select '223', '213'
 union all select '224', '214'
 union all select '225', '215'
 union all select '226', '216'
 union all select '227', '208'
 union all select '228', '209'
 union all select '229', '210'
 union all select '230', '211'
 union all select '231', '212'
 union all select '232', '221'
 union all select '233', '222'
 union all select '234', '223'
 union all select '235', '224'
 union all select '236', '225'
 union all select '237', '217'
 union all select '238', '218'
 union all select '239', '219'
 union all select '240', '220'
 union all select '241', '230'
 union all select '242', '231'
 union all select '243', '232'
 union all select '244', '233'
 union all select '245', '234'
 union all select '246', '226'
 union all select '247', '227'
 union all select '248', '228'
 union all select '249', '229'
 union all select '250', '239'
 union all select '251', '240'
 union all select '252', '241'
 union all select '253', '242'
 union all select '254', '243'
 union all select '255', '235'
 union all select '256', '236'
 union all select '257', '237'
 union all select '258', '238'
 union all select '259', '248'
 union all select '260', '249'
 union all select '261', '250'
 union all select '262', '251'
 union all select '263', '252'
 union all select '264', '244'
 union all select '265', '245'
 union all select '266', '246'
 union all select '267', '247'
 union all select '268', '257'
 union all select '269', '258'
 union all select '270', '259'
 union all select '271', '260'
 union all select '272', '261'
 union all select '273', '253'
 union all select '274', '254'
 union all select '275', '255'
 union all select '276', '256'
 union all select '277', '266'
 union all select '278', '267'
 union all select '279', '268'
 union all select '280', '269'
 union all select '281', '270'
 union all select '282', '262'
 union all select '283', '263'
 union all select '284', '264'
 union all select '285', '265'
 union all select '286', '275'
 union all select '287', '276'
 union all select '288', '277'
 union all select '289', '278'
 union all select '290', '279'
 union all select '291', '271'
 union all select '292', '272'
 union all select '293', '273'
 union all select '294', '274'
 union all select '295', '284'
 union all select '296', '285'
 union all select '297', '286'
 union all select '298', '287'
 union all select '299', '288'
 union all select '300', '280'
 union all select '301', '281'
 union all select '302', '282'
 union all select '303', '283'
 union all select '304', '293'
 union all select '305', '294'
 union all select '306', '295'
 union all select '307', '296'
 union all select '308', '297'
 union all select '309', '289'
 union all select '310', '290'
 union all select '311', '291'
 union all select '312', '292'
 union all select '313', '302'
 union all select '314', '303'
 union all select '315', '304'
 union all select '316', '305'
 union all select '317', '306'
 union all select '318', '298'
 union all select '319', '299'
 union all select '320', '300'
 union all select '321', '301'
 union all select '322', '311'
 union all select '323', '312'
 union all select '324', '313'
 union all select '325', '314'
 union all select '326', '315'
 union all select '327', '307'
 union all select '328', '308'
 union all select '329', '309'
 union all select '330', '310'
 union all select '331', '320'
 union all select '332', '321'
 union all select '333', '322'
 union all select '334', '323'
 union all select '335', '324'
 union all select '336', '316'
 union all select '337', '317'
 union all select '338', '318'
 union all select '339', '319'
 union all select '340', '329'
 union all select '341', '330'
 union all select '342', '331'
 union all select '343', '332'
 union all select '344', '333'
 union all select '345', '325'
 union all select '346', '326'
 union all select '347', '327'
 union all select '348', '328'
 union all select '349', '338'
 union all select '350', '339'
 union all select '351', '340'
 union all select '352', '341'
 union all select '353', '342'
 union all select '354', '334'
 union all select '355', '335'
 union all select '356', '336'
 union all select '357', '337'
 union all select '358', '347'
 union all select '359', '348'
 union all select '360', '349'
 union all select '361', '350'
 union all select '362', '351'
 union all select '363', '343'
 union all select '364', '344'
 union all select '365', '345'
 union all select '366', '346'
 union all select '367', '356'
 union all select '368', '357'
 union all select '369', '358'
 union all select '370', '359'
 union all select '371', '360'
 union all select '372', '352'
 union all select '373', '353'
 union all select '374', '354'
 union all select '375', '355'
 union all select '376', '365'
 union all select '377', '366'
 union all select '378', '367'
 union all select '379', '368'
 union all select '380', '369'
 union all select '381', '361'
 union all select '382', '362'
 union all select '383', '363'
 union all select '384', '364'
 union all select '385', '374'
 union all select '386', '375'
 union all select '387', '376'
 union all select '388', '377'
 union all select '389', '378'
 union all select '390', '370'
 union all select '391', '371'
 union all select '392', '372'
 union all select '393', '373'
 union all select '394', '383'
 union all select '395', '384'
 union all select '396', '385'
 union all select '397', '386'
 union all select '398', '387'
 union all select '399', '379'
 union all select '400', '380'
 union all select '401', '381'
 union all select '402', '382'
 union all select '403', '392'
 union all select '404', '393'
 union all select '405', '394'
 union all select '406', '395'
 union all select '407', '396'
 union all select '408', '388'
 union all select '409', '389'
 union all select '410', '390'
 union all select '411', '391'
 union all select '412', '401'
 union all select '413', '402'
 union all select '414', '403'
 union all select '415', '404'
 union all select '416', '405'
 union all select '417', '397'
 union all select '418', '398'
 union all select '419', '399'
 union all select '420', '400'
 union all select '421', '410'
 union all select '422', '411'
 union all select '423', '412'
 union all select '424', '413'
 union all select '425', '414'
 union all select '426', '406'
 union all select '427', '407'
 union all select '428', '408'
 union all select '429', '409'
 union all select '430', '419'
 union all select '431', '420'
 union all select '432', '421'
 union all select '433', '422'
 union all select '434', '423'
 union all select '435', '415'
 union all select '436', '416'
 union all select '437', '417'
 union all select '438', '418'
 union all select '439', '428'
 union all select '440', '429'
 union all select '441', '430'
 union all select '442', '431'
 union all select '443', '432'
 union all select '444', '424'
 union all select '445', '425'
 union all select '446', '426'
 union all select '447', '427'
 union all select '448', '436'
 union all select '449', '437'
 union all select '450', '438'
 union all select '451', '439'
 union all select '452', '440'
 union all select '453', '441'
 union all select '454', '433'
 union all select '455', '434'
 union all select '456', '435'
 union all select '457', '435a'
 union all select '458', '445'
 union all select '459', '446'
 union all select '460', '447'
 union all select '461', '448'
 union all select '462', '449'
 union all select '463', '450'
 union all select '464', '442'
 union all select '465', '443'
 union all select '466', '444'
 union all select '467', '444a'
 union all select '468', '454'
 union all select '469', '455'
 union all select '470', '456'
 union all select '471', '457'
 union all select '472', '458'
 union all select '473', '459'
 union all select '474', '451'
 union all select '475', '452'
 union all select '476', '453'
 union all select '477', '453a'
 union all select '478', '463'
 union all select '479', '464'
 union all select '480', '465'
 union all select '481', '466'
 union all select '482', '467'
 union all select '483', '468'
 union all select '484', '460'
 union all select '485', '461'
 union all select '486', '462'
 union all select '487', '462a'
 union all select '488', '472'
 union all select '489', '473'
 union all select '490', '474'
 union all select '491', '475'
 union all select '492', '476'
 union all select '493', '477'
 union all select '494', '469'
 union all select '495', '470'
 union all select '496', '471'
 union all select '497', '471a'
 union all select '498', '481'
 union all select '499', '482'
 union all select '500', '483'
 union all select '501', '484'
 union all select '502', '485'
 union all select '503', '486'
 union all select '504', '478'
 union all select '505', '479'
 union all select '506', '480'
 union all select '507', '480a'
 union all select '508', '490'
 union all select '509', '491'
 union all select '510', '492'
 union all select '511', '493'
 union all select '512', '494'
 union all select '513', '495'
 union all select '514', '487'
 union all select '515', '488'
 union all select '516', '489'
 union all select '517', '499'
 union all select '518', '500'
 union all select '519', '501'
 union all select '520', '502'
 union all select '521', '503'
 union all select '522', '504'
 union all select '523', '496'
 union all select '524', '497'
 union all select '525', '498'
 union all select '526', '508'
 union all select '527', '509'
 union all select '528', '510'
 union all select '529', '511'
 union all select '530', '512'
 union all select '531', '513'
 union all select '532', '505'
 union all select '533', '506'
 union all select '534', '507'
 union all select '535', '517'
 union all select '536', '518'
 union all select '537', '519'
 union all select '538', '520'
 union all select '539', '521'
 union all select '540', '522'
 union all select '541', '514'
 union all select '542', '515'
 union all select '543', '516'
 union all select '544', '526'
 union all select '545', '527'
 union all select '546', '528'
 union all select '547', '529'
 union all select '548', '530'
 union all select '549', '531'
 union all select '550', '523'
 union all select '551', '524'
 union all select '552', '525'
 union all select '553', '535'
 union all select '554', '536'
 union all select '555', '537'
 union all select '556', '538'
 union all select '557', '539'
 union all select '558', '540'
 union all select '559', '532'
 union all select '560', '533'
 union all select '561', '534'
 union all select '562', '544'
 union all select '563', '545'
 union all select '564', '546'
 union all select '565', '547'
 union all select '566', '548'
 union all select '567', '549'
 union all select '568', '541'
 union all select '569', '542'
 union all select '570', '543'
 union all select '571', '553'
 union all select '572', '554'
 union all select '573', '555'
 union all select '574', '556'
 union all select '575', '557'
 union all select '576', '558'
 union all select '577', '550'
 union all select '578', '551'
 union all select '579', '552'
 union all select '580', '562'
 union all select '581', '563'
 union all select '582', '564'
 union all select '583', '565'
 union all select '584', '566'
 union all select '585', '567'
 union all select '586', '559'
 union all select '587', '560'
 union all select '588', '561'
 union all select '589', '571'
 union all select '590', '572'
 union all select '591', '573'
 union all select '592', '574'
 union all select '593', '575'
 union all select '594', '576'
 union all select '595', '568'
 union all select '596', '569'
 union all select '597', '570'
 union all select '598', '580'
 union all select '599', '581'
 union all select '600', '582'
 union all select '601', '583'
 union all select '602', '584'
 union all select '603', '585'
 union all select '604', '577'
 union all select '605', '578'
 union all select '606', '579'
 union all select '607', '589'
 union all select '608', '590'
 union all select '609', '591'
 union all select '610', '592'
 union all select '611', '593'
 union all select '612', '594'
 union all select '613', '586'
 union all select '614', '587'
 union all select '615', '588'
 union all select '616', '598'
 union all select '617', '599'
 union all select '618', '600'
 union all select '619', '601'
 union all select '620', '602'
 union all select '621', '603'
 union all select '622', '595'
 union all select '623', '596'
 union all select '624', '597'
 union all select '625', '607'
 union all select '626', '608'
 union all select '627', '609'
 union all select '628', '610'
 union all select '629', '611'
 union all select '630', '612'
 union all select '631', '604'
 union all select '632', '605'
 union all select '633', '606'
 union all select '634', '616'
 union all select '635', '617'
 union all select '636', '618'
 union all select '637', '619'
 union all select '638', '620'
 union all select '639', '621'
 union all select '640', '613'
 union all select '641', '614'
 union all select '642', '615'
 union all select '643', '625'
 union all select '644', '626'
 union all select '645', '627'
 union all select '646', '628'
 union all select '647', '629'
 union all select '648', '630'
 union all select '649', '622'
 union all select '650', '623'
 union all select '651', '624'
 union all select '652', '634'
 union all select '653', '635'
 union all select '654', '636'
 union all select '655', '637'
 union all select '656', '638'
 union all select '657', '639'
 union all select '658', '631'
 union all select '659', '632'
 union all select '660', '633'
 union all select '661', '643'
 union all select '662', '644'
 union all select '663', '645'
 union all select '664', '646'
 union all select '665', '647'
 union all select '666', '648'
 union all select '667', '640'
 union all select '668', '641'
 union all select '669', '642'

select * from @tCorrect C

update F
set F.Flat = C.HReal
from @tCorrect C
inner join tUser F on cast(F.flatStr as varchar(5)) = C.Hsroy
where F.HouseId = 2


select * from @tCorrect C
inner join tUser F on cast(F.flatStr as varchar(5)) = C.Hsroy


end
